@import "tailwindcss";

:root {
  --background: #030712;
  --surface: #111827;
  --surface-light: #1f2937;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --text: #f9fafb;
  --muted: #94a3b8;

  --border: rgba(255, 255, 255, 0.08);

  --radius: 18px;

  --shadow: 0 10px 40px rgba(0, 0, 0, 0.35);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Hide Scrollbar */

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.fpr-12 {
  padding-right: 12px;
}

.fpl-20 {
  padding-left: 20px;
}

.vp-button {
  width: 130px;
  margin-right: 12px;
}
